html {
    height: 100%;
}

body {
    background: #404040;
    height: 100%;
    margin: 0px;
}

.alert {
  padding: 5px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
}

.alert.selected {
    color: #ff0000;
}

#issue-list {
    width: 50%;
}

.issue-item h3 {
    color: #ffff00;
}

div.issue-item {
    background-color: #ff0000;
}

#top-panel, #bottom-panel {
}

#main-screen {
}

#main-screen > div {
}

#central-panel {
}

#top-panel, #bottom-panel {
    height: 32px;
    background-color: #c2d233;
}

#issue-list ul {
    list-style-type: none;
}

#issue-list li {
    height: 20px;
    padding: 5px;
    margin: 4px;
    background-color: #ff0000;
}
